@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<h2 align="center" class="bg-primary"><em>Help...!</em></h2>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <font size="3" face="Cambria" color="red">
                        <br />
                        <br />
                        <p>1. First you will select the desired task.</p>
                        <p>2. Quiz can be added manually as well as by uploading a file.</p>
                        <p>3. You have to sleect the category of quiz before adding the quiz.</p>
                    </font>
                </div>
              </div>
                <img src="~/Images/images.jpg" class="pull-right" />
            </div>
