@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<h2  align="center" class="bg-primary"><em>Welcome @ViewBag.x...!</em></h2>
<h4>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <strong><font color="red"> Select the task that you want to perform:</font></strong></h4>
<div class="container">
<div class="row">
    <div class="col-md-3">
<ul class="list-group">
  <li class="list-group-item list-group-item-success" style="font-size:medium">@Html.ActionLink("Add Quiz", "AddQuiz", "Admin")
  <li class="list-group-item list-group-item-warning" style="font-size:medium">@Html.ActionLink("View Quiz", "ViewQuiz", "Admin")
  <li class="list-group-item list-group-item-danger" style="font-size:medium">@Html.ActionLink("View Users", "ViewUsers", "Admin") 
    </ul>
    </div>
    <img src="~/Images/im1.png" class="pull-right" />"
</div>
    </div>
