@{
    ViewBag.Title = "Index";
    Layout = "~/Views/User/_Layout.cshtml";
}

<h2  align="center" class="bg-primary"><em>Welcome @ViewBag.x...!</em></h2><br /><br />
<h4>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <strong><font color="red"> Select the Category of Quiz that you want to View:</font></strong></h4>
<div class="container">
<div class="row">
    <div class="col-md-3">
<ul class="list-group">
  <li class="list-group-item list-group-item-success" style="font-size:medium">@Html.ActionLink("Computer Science", "ViewQuizCs", "Admin")
  <li class="list-group-item list-group-item-warning" style="font-size:medium">@Html.ActionLink("General Science", "ViewQuizGs", "Admin")
  <li class="list-group-item list-group-item-danger" style="font-size:medium">@Html.ActionLink("General Knwledge", "ViewQuizGk", "Admin") 
    </ul>
    </div>
    <img src="~/Images/images.jpg" class="pull-right" />"
</div>
    </div>