@{
    ViewBag.Title = "QuizDetails";
    Layout = "~/Views/User/_Layout.cshtml";
}

<h2  align="center" class="bg-primary"><em>Quiz Details...!</em></h2>
<a class="fancybox" rel="group" href="~/pic.jpg"><img src="~/pic.jpg" height="50" width="50" alt=""/></a>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <font size="3" face="Cambria" color="red">
                        <br />
                        <br />
                        <p>1. First you will select the category of Quiz that you want to take.</p>
                        <p>2. Quizes are of MCQs nature.</p>
                        <p>3. Each question will be having 1 mark.</p>
                        <p>4. There is no negative marking in the quiz.</p>
                        <p>5. Only one option from the given choices can be selected.</p>
                    </font>
                </div>
                <img src="~/Images/images.jpg" class="pull-right" />
            </div>
            
  <script type="text/ecmascript">
      $(".fancybox").fancybox();
  </script>