@model MvcApplication1.Models.UserInfo

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}                       

<div class="container" align="center">
      <form class="form-signin" method="post" action="/Home/Register1">
          <div class="row">
      <div class="col-md-2">
      <h2 class="form-signup-heading">Sign Up</h2>
          @Html.TextBoxFor(m => m.FirstName, new {Class="form-control", Placeholder="First Name" });
          @Html.TextBoxFor(m => m.LastName, new {Class="form-control", Placeholder="Last Name" });
          @Html.TextBoxFor(m => m.Username, new {Class="form-control", Placeholder="Username", Id="un"})<br />
          <input type="button" class="btn btn-small btn-danger"  id="check" onclick="f1()" value="Check Availability"/>
          <span id="msg" class="bg-warning"></span><br/><br/>
          @Html.TextBoxFor(m => m.Password, new {Class="form-control", Placeholder="Password", Type="Password" })<br /><br />
          <p><font size="3">Role:</font></p>
          <font size="2"><input type="radio" value="user" name="r1">User&nbsp&nbsp&nbsp<input type="radio" value="admin" name="r1">Admin</font>
            <br /> <br />
          <button class="btn btn-large btn-primary" type="submit">Create Account</button><br /><br />
          </div>
              <img src="~/Images/paathshala.jpg", class="pull-right">
              </div>
        </form>

    <script>
        function f1() {
            var un = $('#un').val();
            $.getJSON("/Home/CheckUserName?un=" + un, function (data) {

                if (data) {
                    $('#msg').text("Available");
                }
                else {
                    $('#msg').text("Already Exists");
                }
            });
        }
    </script>
        
</div>
